*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build

# Allow compiled release APK to be tracked in Git
!app/build/outputs/apk/debug/*.apk
!app/build/outputs/apk/release/*.apk
!release/*.apk
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase & Secrets
/app/google-services.json
/test.js
